body {
  background-image: url('https://images.unsplash.com/photo-1627735410064-b8ffd0adb155?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin-top: 100px;
  padding: 0;
  width: 200px;
  background-color: black;
  position: fixed;
  height: 50%;
  overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    padding-top: 45px;
    margin-left: 30px;
}

.sidebar a.active {
  background-color: black;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.content h2{
  font-size: 100px;
  font-style: italic;

}
div.content {
  color: white;
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    margin-top: 0;
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
